#main-nav {
    margin-left: 1px;
}
        #main-nav.nav-tabs.nav-stacked > li > a > span {
            color: #4A515B;
        }
        #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover {
            color: #FFF;
            background: #3C4049;
            background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A515B), color-stop(100%,#3C4049));
            background: -webkit-linear-gradient(top, #4A515B 0%,#3C4049 100%);
            background: -o-linear-gradient(top, #4A515B 0%,#3C4049 100%);
            background: -ms-linear-gradient(top, #4A515B 0%,#3C4049 100%);
            background: linear-gradient(top, #4A515B 0%,#3C4049 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
            border-color: #2B2E33;
        }

            #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
                color: #FFF;
            }

    #main-nav.nav-tabs.nav-stacked > li {
        margin-bottom: 4px;
    }

/*定义二级菜单样式*/
.secondmenu a {
    font-size: 10px;
    color: #4A515B;
    text-align: center;
}

.navbar-static-top {
    background-color: #212121;
    margin-bottom: 5px;
}

.navbar-brand {
    background: url('') no-repeat 10px 8px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
}

/*菜单样式修饰*/
#nav-up{
    height: 200%;

}

/*表格样式*/
.table th, .table td { 
    text-align: center;
    vertical-align: middle!important;
}
fieldset{
    width: 150px;
    text-align: center;
}

/*书库表格*/
.book{
    border:1px solid #e7eaea;
    background:#fafcfd;
    padding: 1.5rem 2rem;
}
a:hover {
    text-decoration: none;
}

/*管理日志表格*/
.approval{
    border:1px solid #e7eaea;
    background:#fafcfd;
    padding: 1.5rem 2rem;
    margin-bottom: 1.5rem;
}
.history{
    border:1px solid #e7eaea;
    background:#fafcfd;
    padding: 1.5rem 2rem;
    margin-top: 1.5rem;
}

/*用户信息管理表格*/
.person{
    border:1px solid #e7eaea;
    background:#fafcfd;
    padding: 1.5rem 2rem;
}


    
    
